.ArticleBox{
    /* border: 1px black solid; */
    border-radius: 10px;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: white;


    height: 52em;

    overflow-y: scroll;

    padding: 30px;

    font-family: irop;
   
    width: 80%;

    transition: all 1s ease;
}

.ArticleBox::-webkit-scrollbar {
    background: #1C1F66;
    width: 0.7em;
    border-radius: 10px;
}
.ArticleBox::-webkit-scrollbar-thumb{
    background: #FFD324;
    border-radius: 10px;
}

.ArticleBox .header {
    display:flex;
    justify-content:space-between;
}

.ArticleBox .headline {
    display:block;
    font-weight: 500;
}

.ArticleBox .btn {
    align-self:flex-end;
    background-color:#1C1F66;
    padding:5px 10px;
    border-radius:10px;
    margin-bottom:10px;
    color:#FFFFFF;
    user-select:none;
    transition: all 0.4s ease;
}

.ArticleBox .btn:hover{
    background-color:#3236a1;
    transition: all 0.4s ease;
}

.ArticleBox .content img{
    max-height:300px;
    margin: 20px;
}

.ArticleBox .content .text{
    /* columns: 400px 3; */
    column-count: 2;
    column-gap: 2em;
    
}

.Xbutton{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    font-size: 2em;
}

.Xbutton div:hover{
   color: #0e0ba8;
   transition: all 0.2s ease;
}

