.ArticleBox{
    /* border: 1px black solid; */
    border-radius: 30px;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    background-color: white;

    height: 730px;

    overflow-y: scroll;
}