@font-face {
    font-family: 'garam';
    src: url('../assets/fonts/garam.ttf') format("truetype");
    font-style: normal;
    font-weight: 100;
}

.Comment{
    background-image: url('background/memo.png');
   
    background-size: cover;
    font-family: "garam";
    font-weight: 600;
}

.Comment .Container {
    font-size: 18px;
    width:300px;
    height:300px;
    /* background-color:#FFD324; */
    margin:10px;
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    display:flex;
    flex-direction:column;
}

.Comment .Content {
    flex:1;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.Comment .Footer {
    display:flex;
    justify-content:space-between;
}

.MemoMenu{
    font-family: 'garam';
    border-radius: 20px;
    border: 2px solid rgba(80, 80, 80,0.5);
    background-color: #FFF27A;
    font-weight: 600;
}

.MemoMenu:hover{
    color: rgb(255, 0, 0);
    transition: all 0.3s ease;
}