@font-face {
    font-family: 'cafe';
    src: url('../assets/fonts/Cafe24Simplehae.ttf') format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'irop';
    src: url('../assets/fonts/IropkeBatangM.ttf') format("truetype");
    font-style: normal;
    font-weight: 100;
}


.Main{
    height:100%;
    background-image: linear-gradient(0.25turn, rgb(8, 8, 51) 20%, rgb(3, 38, 39) 80%);
}

.MainContent{
    display: flex;
    flex-grow: 0;
}