.SideMenu{
    border-radius: 30px;
    margin-top: 3em;
    margin-left: 2em;
    background-color: white;
}

.ArticleCard{
    background-color: rgb(187, 187, 187);
    margin: 10px;
    border-radius: 20px;

    
}