.TimeBarMain{

    border-radius: 30px;

    margin-left: 2em;
    margin-right: 2em;

    
    
    background-color: #ffffff;
}

.TimeBarStep{
    border-radius: 30px;
    width: 100%;

    /* background-color: #d8d8d8; */
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;

    background-image: url("background/HorizontalLine.png");
    background-repeat:no-repeat;
    background-size: auto;

   
}


.TimeBarStep::-webkit-scrollbar {
    background: #b0b5bd;
    height: 1vh;
    border-radius: 10px;
}
.TimeBarStep::-webkit-scrollbar-thumb{
    background: #696c70;
    border-radius: 10px;
}

.SetYearArea{
    position: absolute;

    
    left: 93vw;
    top: 95vh;
}