.TimeBarMain{

    border-radius: 10px;

    margin-left: 2em;
    margin-right: 2em;

    background-color: rgba(0, 0, 0,0);
  
}

.TimeBarStep{
    border-radius: 30px;
 


    /* background-color: #d8d8d8; */
    overflow-x: scroll;
    overflow-y: auto;
    white-space: nowrap;

    background-image: url("background/HorizontalLine.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto;

    padding-top: 1em;

    justify-content: space-between;

   width: 100%;
}


.TimeBarStep::-webkit-scrollbar {
    background: #1C1F66;
    
    height: 1vh;
    border-radius: 10px;
}
.TimeBarStep::-webkit-scrollbar-thumb{
    background: #FFD324;
    border-radius: 10px;
}

.SetYearArea{
    padding-top: 1em;
    display: flex;
    justify-content: flex-end;
}