.timeline{
    width: 100%;
    height: 100vh;
}

.selectSection{
    padding-top: 1rem;
}

.yearval{
    padding-left: 1rem;
    padding-right: 1rem;
}

.timeline_row{
    
    display: flex;
    justify-content: center;
}
.timeline_visual{

    

}

.timeline-controls{
    display: flex;
    justify-content: center;
    border-radius: 0% !important; 
    background-color: white !important;
    box-shadow: none !important;
}


.css-8myp9a-TimelineNavButton {
    width: 10vmax !important;
    border-radius: 0% !important;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

    margin-bottom: 5vmax !important;
}

.ant-btn:hover{
    border-color: rgb(14, 0, 66) !important;
}

.articleCard{
    position: relative;
    overflow: hidden;


    width: 95vw;
    height: 20vh;
    margin-top: 10px;
    
    background-position: right;
    background-position-y: 0;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 30px;

    
}


.timeline-card-content{
    width: 100% !important;
    -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0)) !important;
    height: 60vh !important;
} 
.card-description {
    width: 100% !important;
    padding: 20px !important;
}

.Card{
    text-align: center;
}

.clusterhead{
    width: 100%;
    text-align: center;

    font-weight: bold;
    font-size: 3em;
}

.clusterdate{
    margin-top: 30px;
    font-weight: bold;
    font-size: 1em;
}

.timeline-item-title{
    background-color: rgba(0, 0, 0, 0) !important;
    font-weight: 900 !important;
    width: 100% !important;
}

.wait{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-size: 10em;
    font-weight: 500;
    padding: 2em;
    
}

.ant-spin-dot{
    width: 4em !important;
    height: 4em !important;
}

.ant-spin-dot-item{
    width: 2em !important;
    height: 2em !important;
}


.timelinebutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    height: 1.5em;

    padding-bottom: 2px;

    border: 2px rgba(0, 30, 165, 1) solid;
    border-radius: 50%;
}

.timelinebutton:hover{
    border: 2px rgb(149, 149, 184) solid;
}

.timelinebutton:focus{
    border: 2px rgb(149, 149, 184) solid;
}